



*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    margin: 2% 5%;

    .main-div{

        .section-1{

            .div-1 {

                .h1{

                }

                p{

                }

            }

            .div-2{

                .btn{
                    height: 30px;
                    width: 80px;
                    margin: auto;
                    border: 1px solid black;
                    color: white;
                    background-color: black;
                }

                .cont{
                    height: 30px;
                    width: 80px;
                    margin-left: 20px;
                    border: 1px solid black;
                    color: black;
                    background-color: white;
                }

            }

        }
    }
}