



*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{

    .main-div{

        .section-1{

            .div-1 {

                .h1{

                }

                p{

                }

            }

            .div-2{
                
            }

        }
    }
}